.hmdir_app {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  top: 0;
  left: 0;
  font-size: 12px;
  width: 320px;
  height: 100%;

  background-color: transparent;
  pointer-events: true;
}
.hmdir_app[data-display="false"] {
  pointer-events: none;
}

.hmdir_display_button {
  position: fixed;
  top: 80px;
  left: 24px;
  width: 4vw;
  height: 4vw;
  background-image: url("https://i.imgur.com/09FJ8N7.png");
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 9999;
  opacity: 1;
  transform: scale(1);

  transition: .1s opacity ease-in-out, .1s transform cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.hmdir_button_hidden {
  opacity: 0 !important;
  transform: scale(0);
}
